.logo {
  width: 125px;
  border-radius: 6px;
  margin-right: 20px;
  float: right;
  color: #cfd8dc;
  padding-top: 3px;
}

.logoImage {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}

.body {
  background-color: rgb(236, 239, 241);
  margin: 0;
}

.regular-table > div > div:nth-child(1) {
  position: absolute !important;
  top: 1px;
  right: 1px;
  border: 0 !important;
  padding: 0px !important;
  min-height: 20px !important;
}

.regular-table table {
  table-layout: auto;
}

.total-tables table {
  table-layout: auto;
}

.vsc-initialized {
  margin: 0;
  height: 100%;
}
